/* ==========================================================================
 FOOTER
 ========================================================================== */

 footer a {
    color: $background-color;

    &:hover {
        color: $lightgray;
    }

    &:visited {
        color: $background-color;
    }
 }