/* ==========================================================================
 HEADER
 ========================================================================== */

 .page-title {

    text-transform: uppercase;

 }

 .green {

    background: #006c64;

 }

 .nav-link+.nav-link {
    
    margin-left: $spacing-unit;
    
 }