/* ==========================================================================
 HEADER
 ========================================================================== */

 nav {

    padding: $spacing-unit 0 $lg-spacing-unit 0;

 }
 
 .page-title {

    text-transform: uppercase;

 }

 .green {

    background: #006c64;

 }

 .lightgreen {

    background: #30A8A0;
    
 }

 .nav-link+.nav-link {
    
    margin-left: $spacing-unit;
    
 }